<!DOCTYPE html>
{% load static %}
<html>
{% block title %}
{% include 'mainapp/includes/header.html' %}
{% endblock %}

 <body>
	<div class="container">
		{% block menu %}
        {% include 'mainapp/includes/menu.html' %}
        {% endblock %}

         <div class="content">
            {% block content %}

             {% endblock %}
        </div>

 		<div class="clr"></div>

 	</div>

     {% block footer %}
    {% include 'mainapp/includes/footer.html' %}
    {% endblock %}



 </body>
</html>